:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #f4623a;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f4623a;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

}

body
{
    
    background-color: #b1c9e0;
    
}
.container-fluid{
  padding: 0;
}
.row
{

    width: 100%;
    padding-top:2%;
}

#about, #work, #contact
{
    padding-top:5%;
    padding-left:5%;
    padding-bottom: 5%;
    font-size: 30px;
}
#about{
  background-color: #b1e0df;
}
#work
{
  background-color: #b1c9e0;
  color: darkslategrey;
  margin-bottom: 3%;
}
#contact
{
  background-color: #b1e0df;
    padding-bottom: 5%;
}
.head
{
	margin-top:60px;
    padding-top:20%;
    background-image: url("./images/head.jpg");
    height: 720px;
    color: rgb(10, 6, 54);
    text-align: center;
    width: 100%;
    font-size: 100px;
    background-size: 100% 100%;
}


.navbar {
  overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  
}


.navbar-toggle
 { display:block; 
} 
 
.navbar a:hover {
    background-color: #ddd;
    color: rgb(160, 154, 154);
  }
  
 .navbar a.active {
  color: rgb(160, 154, 154);
    color: white;
  }
  
  .footer
  {
    color: antiquewhite;
    
    text-align: center;
   
    padding: 3%;
    padding-right: 0 !important;
  }
  h1{
    font-size: 100px;
  }